<!-- Only render the block if it's supported. -->
<ion-card *ngIf="loaded && componentClass && block && block.visible" class="{{class}}" role="region"
    [attr.aria-labelledby]="labelledBy ? labelledBy : null">
    <core-dynamic-component [component]="componentClass" [data]="data" />
</ion-card>

<!-- Generated template for the MychildrenComponent component (this needs to be adapted to the already existing structure of addon block) -->
<!-- <ng-container *ngIf="block.name == 'mychildren'">
    <ion-item-divider>
        <h2>{{ 'My Children' | translate }}</h2>
    </ion-item-divider>
    <div class="scroll-container">
        <ng-container *ngIf="block && block.contents && block.contents.localContents && block.contents.localContents.children">
            <ng-container class="scroll-content" *ngFor="let child of block.contents.localContents.children;">
                <ion-card class="item" (click)="child.on_child_click(child)" style="height: 148px;">
                    <ion-card-content>
                        <ion-card-title>

                        </ion-card-title>

                        <ion-grid>
                            <ion-row>

                                <ion-col col-4>
                                    <ion-avatar>
                                        <img style="border-radius:50%;" alt="Silhouette of a person's head"
                                            src="{{ child.child_image_url }}" />
                                    </ion-avatar>
                                </ion-col>

                                <ion-col col-8>
                                    <p class="childName wrap">{{ child.child_name }}</p>
                                    <p class="childEmail wrap">{{ child.child_email }}</p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </ng-container>
    </div>
</ng-container> -->

<style>
    .scroll-container {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        /* Optional: Add a scrollbar for visibility */
        scrollbar-width: thin;
    }

    /* Styling for the content inside the scrolling container */
    .scroll-content {
        display: inline-block;
        /* Optional: Add some padding around the content */
        padding: 10px;
    }

    /* Styling for each item inside the horizontal scrolling div */
    .item {
        display: inline-block;
        /* Optional: Add some spacing between items */
        width: 70%;
    }
</style>
