<!-- Generated template for the ChilddetailPage page -->
<ion-content>
  <button style="color: black; background: transparent; outline: none; font-size: 1.2rem;" (click)="goBack()">
    <b>
      < {{ 'core.back' | translate }} </b>
  </button>

  <ion-card>
    <ion-grid>
      <ion-row text-center>

        <ion-col>
          <ion-avatar style="margin:auto;">
            <img style="border-radius:50%;" alt="Silhouette of a person's head" src="{{ child.child_image_url }}" />
          </ion-avatar>
        </ion-col>

      </ion-row>
      <ion-row text-center style="border-bottom:2px solid #A6A6A6">

        <ion-col>
          <div class="ion-text-center">{{ child.child_name }}</div>
          <div class="ion-text-center">{{ child.child_email }}</div>
        </ion-col>


      </ion-row>
      <ion-row text-center>
        <ion-col>
          <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;"><a
              href="{{child.child_report_link}}" style="text-decoration: none;">Report</a></div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

  <core-loading [hideUntil]="loaded">
    <ion-list class="list-item-limited-width" *ngIf="hasMainBlocks">
      <core-block *ngIf=" block.visible" [block]="block" contextLevel="user" [child]="child"></core-block>
    </ion-list>

    <core-empty-box *ngIf="!hasMainBlocks" icon="fas-cubes" [message]="'core.course.nocontentavailable' | translate">
    </core-empty-box>
  </core-loading>

</ion-content>
