<core-navbar-buttons slot="end" prepend>
    <ion-button fill="clear" (click)="gotoCourseDownloads()" [attr.aria-label]="'addon.storagemanager.coursedownloads' | translate">
        <ion-icon name="fas-cloud-arrow-down" slot="icon-only" aria-hidden="true" />
    </ion-button>
</core-navbar-buttons>
<core-dynamic-component [component]="courseFormatComponent" [data]="data">
    <!-- Default course format. -->
    <core-loading [hideUntil]="loaded">

        <!-- Single section. -->
        <div *ngIf="selectedSection && selectedSection.id !== allSectionsId">
            <core-dynamic-component [component]="singleSectionComponent" [data]="data">
                <ng-container *ngTemplateOutlet="sectionTemplate; context: {section: selectedSection}" />
                <core-empty-box *ngIf="!selectedSection.hasContent" icon="fas-table-cells-large"
                    [message]="'core.course.nocontentavailable' | translate" />
            </core-dynamic-component>
        </div>

        <!-- Multiple sections. -->
        <div *ngIf="selectedSection && selectedSection.id === allSectionsId">
            <core-dynamic-component [component]="allSectionsComponent" [data]="data">
                <ng-container *ngFor="let section of sections; index as i">
                    <ng-container *ngIf="i <= lastShownSectionIndex">
                        <ng-container *ngTemplateOutlet="sectionTemplate; context: {section: section}" />
                    </ng-container>
                </ng-container>
            </core-dynamic-component>

            <core-infinite-loading [enabled]="canLoadMore" (action)="showMoreActivities($event)" />
        </div>
        <div collapsible-footer appearOnBottom *ngIf="displayCourseIndex && (previousSection || nextSection)" slot="fixed">
            <div class="core-course-section-nav-buttons safe-area-padding-horizontal list-item-limited-width">
                <ion-button *ngIf="previousSection" (click)="sectionChanged(previousSection)" expand="block"
                    [attr.aria-label]="('core.previous' | translate) + ': ' + previousSection.name">
                    <ion-icon name="fas-arrow-left" slot="start" aria-hidden="true" />
                    <core-format-text [text]="previousSection.name" contextLevel="course" [contextInstanceId]="course.id" />
                </ion-button>
                <ion-button *ngIf="nextSection" (click)="sectionChanged(nextSection)" expand="block"
                    [attr.aria-label]="('core.next' | translate) + ': ' + nextSection.name">
                    <core-format-text [text]="nextSection.name" contextLevel="course" [contextInstanceId]="course.id" />
                    <ion-icon name="fas-arrow-right" slot="end" aria-hidden="true" />
                </ion-button>
            </div>
        </div>
    </core-loading>
</core-dynamic-component>


<core-block-side-blocks-button slot="fixed" *ngIf="loaded && course && displayBlocks && hasBlocks" contextLevel="course"
    [instanceId]="course.id" />

<!-- Course Index button. -->
<!-- <ion-fab slot="fixed" core-fab vertical="bottom" horizontal="end" *ngIf="loaded && (displayCourseIndex || communicationRoomUrl)">
    <ion-fab-button size="small" *ngIf="communicationRoomUrl" [href]="communicationRoomUrl" core-link capture="false"
        [attr.aria-label]="'core.course.communicationroomlink' | translate">
        <ion-icon name="far-comments" aria-hidden="true" />
    </ion-fab-button>
    <ion-fab-button *ngIf="displayCourseIndex" (click)="openCourseIndex()" [userTour]="courseIndexTour"
        [attr.aria-label]="'core.course.courseindex' | translate" color="secondary">
        <ion-icon name="fas-list-ul" aria-hidden="true" />
    </ion-fab-button>
</ion-fab> -->

<!-- Template to render a section. -->
<ng-template #sectionTemplate let-section="section">
    <section *ngIf="!section.hiddenbynumsections && section.id !== allSectionsId && section.id !== stealthModulesSectionId"
        class="core-course-module-list-wrapper" [id]="section.id"
        [attr.aria-labelledby]="section.name ? 'core-section-name-' + section.id : null">
        <ion-item-divider class="course-section ion-text-wrap" [class.course-main-section]="section.subSections !== undefined"
            [class.item-dimmed]="section.visible === 0 || section.uservisible === false">
            <ion-button class="section-toggler" fill="clear" (click)="toggleSection(section)">
                <ion-label>
                    <h2 *ngIf="section.name" class="big" [id]="'core-section-name-' + section.id">
                        <core-format-text [text]="section.name" contextLevel="course" [contextInstanceId]="course.id" />
                    </h2>
                    <div *ngIf="section.visible === 0 && section.uservisible !== false">
                        <ion-badge color="warning">
                            {{ 'core.course.hiddenfromstudents' | translate }}
                        </ion-badge>
                    </div>
                    <div *ngIf="section.visible === 0 && section.uservisible === false">
                        <ion-badge color="warning">
                            {{ 'core.notavailable' | translate }}
                        </ion-badge>
                    </div>
                    <div *ngIf="section.availabilityinfo">
                        <ion-chip class="clickable">
                            <ion-icon name="fas-lock" [attr.aria-label]="'core.restricted' | translate" />
                            <ion-label>
                                <core-format-text [text]=" section.availabilityinfo" contextLevel="course"
                                    [contextInstanceId]="course.id" />
                            </ion-label>
                        </ion-chip>
                    </div>
                </ion-label>
                <ion-badge *ngIf="section.highlighted && highlighted" slot="end">{{highlighted}}</ion-badge>
            </ion-button>
        </ion-item-divider>

        <ion-item class="ion-text-wrap section-summary" *ngIf="section.summary">
            <ion-label>
                <core-format-text [text]="section.summary" contextLevel="course" [contextInstanceId]="course.id" />
            </ion-label>
        </ion-item>

        <ng-container *ngIf="section.expanded">
            <ng-container *ngFor="let module of section.modules">
                <core-course-module *ngIf="module.visibleoncoursepage !== 0" [module]="module" [section]="section"
                    [showActivityDates]="course.showactivitydates" [showCompletionConditions]="course.showcompletionconditions"
                    [isLastViewed]="lastModuleViewed && lastModuleViewed.cmId === module.id" [class.core-course-module-not-viewed]="
                    !viewedModules[module.id] && (!module.completiondata || module.completiondata.state === completionStatusIncomplete)" />
            </ng-container>
            <core-dynamic-component [component]="allSectionsComponent" [data]="data">
                <ng-container *ngFor="let subSection of section.subSections;">
                    <ng-container *ngTemplateOutlet="sectionTemplate; context: {section: subSection}"></ng-container>
                </ng-container>
            </core-dynamic-component>
        </ng-container>
    </section>
</ng-template>
