.core-course-section-nav-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;

    ion-button {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-transform: none;
        flex: 1;
        margin-left: 4px;
        margin-right: 4px;
    }
}

.course-main-section {
    border: 1.5px solid var(--primary);
    border-radius: 10px;
    --padding-start: 12px;
    --inner-padding-end: 12px;
    margin: 5px 0;
}

.section-toggler {
    width: 100%;
}
